
name: Update Fancyss Rules 3.0

on:
  push:
    branches: [ master ]

  workflow_dispatch:
  
  schedule:
    - cron: '45 3 * * *'

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v3

      - name: Run update script
        run: |
          cd rules_ng
          sudo apt install moreutils
          #sudo apt install moreutils
          chmod +x update_rules.sh
          ./update_rules.sh
        # shell: bash
          
      - name: Commit to repo
        run: |
          if [ -n "$(git status -s)" ]; then
            # cd $GITHUB_WORKSPACE
            git config --local user.name "github-actions[bot]"
            git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add -A
            git commit -m "Actions Auto Update at $(date +'%Y-%m-%d %H:%M:%S')" rules/*
            git push
          else
             echo "No modifications."
          fi
          
      - name: Delete old workflow runs
        uses: GitRML/delete-workflow-runs@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          keep_minimum_runs: 7
          retain_days: 7
